---
layout: base
title: family page
---
 {{ content | safe }}
 <div class="list">
<p>Posts by other families {{location}}</p>
<div class="list-grid">
{% for page in collections.all %}
    {% if location === page.data.location %}
    <article class="card">
        <a href="{{ page.url }}">
          <img src="/media/{{ page.data.image }}" alt="{{ page.data.imageAlt }}" class="card-image">
          <div class="card-info">
            <h3 class="card-title">{{ page.data.title }}</h3>
          </div>
        </a>
      </article>
    {% endif %}
{%- endfor %}
</div>
</div>